{% extends 'base.html' %}
{% load static from staticfiles %}

{%  block content %}
<div class="form">
    <h2>
        Команда разработчиков
    </h2>
    <div class="col-9">
        <h6>
            Front-end:
                Антон Иванов,
                Василий Александров,
                Печенька
        </h6>
    </div>
    <div class="col-9">
        <h6>
            Back-end:
                Никита Зайцев,
                Арсений Смирнов,
                Савелий Карпухин,
                Митя Шабат,
                Михалий Дремин,
                Ярослав Рябцев,
                Алиса Чэнь
        </h6>
    </div>
    <div class="col-9">
        <h6>
            Junior разработчики (у них лапки):
                Аня Еремеева,
                Арина Косовская,
                Роман Казарян

        </h6>
    </div>
    <ul>
    </ul>
    <p>
        Часто ли у Вас бывает, что нужно написать совместно код, и Вы ждёте, пока Ваш напарник отправит свои наработки?
        Чтобы свести подобные ситуации к минимуму и сделать Вашу работу комфортнее, мы представляем нашу программу.
        Вы сможете одновременно редактировать код,
        делать поправки или просто наблюдать за процессом работы.
        Незаменимая находка для репетиторов по программированию, ведь проводить дистанционные занятия станет ещё легче,
        и новшество для работодателей!
    </p>
    <a style="color: #ECDB04" onclick="openF()">
        Больше о нас
    </a>
    <div id="fading">
        <p>
        Памагите, нас держат взаперти в подвале одного из домов штата Техас. Нас почти не кормят и заставляют работать.
        Никаких печенек и кофе, а единственное развлечение - пасьянс на Windows 95. Спасите нас пожалуйста.
    </p>
    <a style="color: #ECDB04" onclick="closeF()">
        Закройте по прочтении (& call the police)
    </a>
    </div>
</div>
{% endblock %}